body {
	background-color: rgb(16, 18, 28);
	color: rgb(38, 133, 76);

	font-family: Space Mono, monospace;
}

.index-title {
	border-color: rgb(0, 101, 84);
	border-style: solid;
	border-width: 1mm;

	margin-top: 1cm;

	padding-top: 0.5in;
	padding-left: 1in;
	padding-right: 0.5cm;
	padding-bottom: 1in;
}

#title-links {
	margin-top: 2cm;
}
